{% extends 'index.html' %}

{% block content %}
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <p class="text-white-50">
                    <h2>Create</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <table>
                            {{form.as_table}}
                        </table>
                        <button class="btn btn-white btn-xl" type="submit">작성</button>    
                    </form>    
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}