{% extends 'main.html' %}

{% block content %}
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                    <h2>Hashtag</h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-lg-8 col-md-10 mx-auto">
        {{ error_message }}
        <form method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input class="btn btn-white btn-xl" type="submit" value="제출하기">
        </form>
    </div>
</div>
{% endblock %}